slides > slide.title-slide hgroup h1 {
  font-family: 'Lora';
  font-weight: normal;
  font-size: 34pt;
  color: #303030;
  transform: translate(-5%, -40%);
  top: 100%;
  left: 100%;
}

.objs h1,
.objs h2,
.objs li,
.objs p {
    color: #C0C0C0;
}

slides > slide.title-slide hgroup h2 {
  font-family: 'Open Sans Condensed';
  font-size: 22pt;
  color: #A0A0A0;
  transform: translate(7%, -42%);
  top: 100%;
  left: 100%;
}

.title-slide {
    font-family: 'Crimson Text';
}

slide h2{
    font-family: 'Lora';
    font-size: 32pt;
    color: #303030;
}

slide {
    background: #FFFFFB;
}

article p, article li, article li.build, section p, section li{
  font-family: 'Crimson Text';
  font-size: 22pt;
  line-height: 1.5em;
  color: #202020;
}

aside.gdbar {
  height: 120px;
  width: 215px;
  position: absolute;
  left: -1px;
  top: 50px;
  -webkit-border-radius: 0 100px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e0e0e0), color-stop(100%, #e0e0e0)) no-repeat;
  background: -webkit-linear-gradient(left, #e0e0e0, #e0e0e0) no-repeat;
  background: -moz-linear-gradient(left, #e0e0e0, #e0e0e0) no-repeat;
  background: -o-linear-gradient(left, #e0e0e0, #e0e0e0) no-repeat;
  background: -ms-linear-gradient(left, #e0e0e0, #e0e0e0) no-repeat;
  background: linear-gradient(left, #e0e0e0, #e0e0e0) no-repeat;
  -webkit-background-size: 0% 100%;
  -moz-background-size: 0% 100%;
  -o-background-size: 0% 100%;
  background-size: 0% 100%;
  -webkit-transition: all 0.5s ease-out 0.5s;
  -moz-transition: all 0.5s ease-out 0.5s;
  -ms-transition: all 0.5s ease-out 0.5s;
  -o-transition: all 0.5s ease-out 0.5s;
  transition: all 0.5s ease-out 0.5s;
  /* Better to transition only on background-size, but not sure how to do that with the mixin. */
}
/* line 895, ../scss/default.scss */
aside.gdbar.right {
  right: 0;
  left: -moz-initial;
  left: initial;
  top: 254px;
  /* 96 is height of gray icon bar */
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
/* line 902, ../scss/default.scss */
aside.gdbar.right img {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
/* line 907, ../scss/default.scss */
aside.gdbar.bottom {
  top: -moz-initial;
  top: initial;
  bottom: 60px;
}
/* line 913, ../scss/default.scss */
aside.gdbar img {
  width: 105px;
  height: 105px;
  position: absolute;
  right: 0;
  margin: 8px 15px;
}

